<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Nos députes</title>

    <!--  css  -->
    <link rel="stylesheet" href="css/style.css"/>

    <!-- jquery -->
    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jquery autocomplete -->
    <script src="js/bower_components/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- d3 -->
    <script src="js/bower_components/d3/d3.min.js"></script>
    <!-- lodash -->
    <script src="js/bower_components/lodash/dist/lodash.min.js"></script>
    <!-- three -->
    <script src="js/other_components/Three/three.min.js"></script>
    <script src="js/other_components/Detector/Detector.js"></script>
    <script src="js/other_components/THREEx.FullScreen/THREEx.FullScreen.js"></script>
    <script src="js/bower_components/threex.windowresize/threex.windowresize.js"></script>
    <script src="js/other_components/OrbitControls/OrbitControls.js"></script>
    <script src="js/other_components/DAT/dat.gui.min.js"></script>
    <!--  main script  -->
    <script src="js/nosdeputes.js"></script>

</head>
<body>
<div id="container"></div>
<div class="message-box">
    <img src="" alt=""/>
    <p>Name : <span id="message-box-name"></span></p>

    <p>Party : <span id="message-box-party"></span></p>

    <p>Value : <span id="message-box-value"></span></p>
</div>
<div class="search-box">
    <input type="text"/>
</div>

<div class="source">
    source <a target="_blank" href="http://NosDeputes.fr">Nos Députés</a> par <a target="_blank" href="http://regardscitoyens.org">Regards Citoyens</a> à partir de l'Assemblée nationale et du Journal Officiel
</div>

</body>
</html>